/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.note {
    min-width: 100px;
    max-width: 300px;
    overflow: scroll;
}

.ui-resizable-handle {
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border: 1px solid #000000;
    bottom: 0px;
    position: absolute;
    right: 0px;


}

html, body{height: 100%; width: 100%}
#selectable {margin: 0; padding: 0; height: 100%;width: 100%; position: relative;}

.ui-selecting {background: #FECA40;}
.ui-selected {background: #F39814; color: white;}
.ui-selectable-helper {position: absolute; z-index: 100; border:1px dotted black;}

ol {
    list-style-type: none;
    padding-left: 10px;
}













ol {
    max-width: 450px;
    padding-left: 25px;
}
ol.moved,
ol.moved ol,
ol.sortable,
ol.sortable ol {
    list-style-type: none;
}
.moved li div,
.sortable li div {
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: move;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC;
    margin: 0;
    padding: 3px;
}
li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
    border-color: #999;
}
.disclose,
.expandEditor {
    cursor: pointer;
    width: 20px;
    display: none;
}
.moved li.mjs-nestedSortable-collapsed > ol,
.sortable li.mjs-nestedSortable-collapsed > ol {
    display: none;
}
.moved li.mjs-nestedSortable-branch > div > .disclose,
.sortable li.mjs-nestedSortable-branch > div > .disclose {
    display: inline-block;
}
.moved span.ui-icon,
.sortable span.ui-icon {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.menuDiv {
    background: #EBEBEB;
}
.menuEdit {
    background: #FFF;
}
.itemTitle {
    vertical-align: middle;
    cursor: pointer;
}
.deleteMenu {
    float: right;
    cursor: pointer;
}
h1 {
    font-size: 2em;
    margin-bottom: 0;
}
h2 {
    font-size: 1.2em;
    font-weight: 400;
    font-style: italic;
    margin-top: .2em;
    margin-bottom: 1.5em;
}
h3 {
    font-size: 1em;
    margin: 1em 0 .3em;
}
p,
ol,
ul,
pre,
form {
    margin-top: 0;
    margin-bottom: 1em;
}
dl {
    margin: 0;
}
dd {
    margin: 0;
    padding: 0 0 0 1.5em;
}
code {
    background: #e5e5e5;
}
input {
    vertical-align: text-bottom;
}
.notice {
    color: #c33;
}
.selected {
    border: solid #000 1px;
}
ol.sortable,
ol.moved {
    height: 500px;
    float: left;
    width: 46.5%;
}
.selected.hidden {
    display: none !important;
}